input {
    width: 96%;
}

.columns {
    margin-top: 0;
}

.btn {
    width: 100%;
}

#sidebar{
    height: 105vh;
}

/* img {
    max-height: 25%;
} */

#movie-poster {
    width: 50%;
    height: auto;
    max-width: 50vh;
    max-height: 90vh;
}
/* 
@media screen and (max-width: 767px) {
    #movie-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #movie-poster {
        width: 100%;
        max-width: 100%
    }
} */